/* search */
.input {
  background: none;
  border: none;
  color: white; }

.search {
  margin-left: 2em;
  width: 10em;
  height: 2em;
  border: #a67f78 1px solid;
  border-radius: 1.2em;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1; }

#fas {
  color: #a67f78; }

.btn-fancy {
  background: #d30442;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px; }

.btn-fancy:hover {
  background: #fff;
  color: #d30442;
  text-decoration: none; }

.btn-fancy:before, .btn-fancy:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #d30442;
  transition: 400ms ease all; }

.btn-fancy:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0; }

.btn-fancy:hover:before, .btn-fancy:hover:after {
  width: 100%;
  transition: 800ms ease all; }

.btn {
  background: linear-gradient(to left, #ffc400 0%, #fd87d2 100%);
  border-radius: 1em;
  width: 8em;
  height: 3em; }

.btn:hover {
  background: pink;
  box-shadow: 1px 2px 3px gray; }

.btn-text {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none; }

.btn-simple {
  color: white;
  width: 25em;
  border: white 1px solid;
  font-family: 'Raleway', sans-serif;
  background: none;
  margin-right: 2em;
  margin-top: 2em;
  padding: 5px; }

.btn-simple:hover {
  border: #ff5773 1px solid;
  box-shadow: 1px 1px 5px #ff5773; }

.btn-green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background: -moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color: #44c767;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 21px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627; }

.btn-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background: -moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color: #5cbf2a; }

.btn-green:active {
  position: relative;
  top: 1px; }

.btn-lightblue {
  -moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
  background: -moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
  background-color: #bddbfa;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1781eb; }

.btn-lightblue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
  background: -moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
  background-color: #80b5ea; }

.btn-lightblue:active {
  position: relative;
  top: 1px; }

.btn-pink {
  border: white 1px solid;
  padding: 5px 10px; }

.btn-bigger {
  border: white 1px solid;
  padding: 5px 10px;
  transition: width 1s ease-out; }

.btn-bigger:hover {
  width: 8em; }

.btn-shadow {
  border: #77004b 1px solid;
  padding: 5px 10px; }

.btn-shadow:hover {
  box-shadow: 1px 1px 5px #77004b; }

.input {
  background: none;
  border: none;
  color: white; }

.search {
  width: 10em;
  height: 1.5em;
  margin: 0;
  padding: 0;
  margin-left: 2em;
  border: #a1c3de 1px solid;
  border-radius: 1.2em;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1; }

#fas {
  color: #a67f78; }

/* navigation */
/* navbar*/
.nav {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  margin-top: 0;
  height: 3em;
  width: 100vw;
  color: #a1c3de;
  background-color: white;
  align-items: center;
  font-family: "Raleway", sans-serif; }
  .nav .nav-title {
    display: block;
    margin-top: 3px;
    font-size: 2em;
    padding-left: 20px;
    height: 100%;
    width: 25%;
    text-align: right;
    background-image: url(./hospital.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10px; }
    @media only screen and (max-width: 414px) {
      .nav .nav-title {
        display: none; } }
  .nav .nav-bar {
    position: absolute;
    top: 0;
    right: 1em;
    margin-top: 0;
    margin-right: 1em;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-grow: 1; }
    @media only screen and (max-width: 414px) {
      .nav .nav-bar {
        display: none; } }

.nav-item {
  list-style: none;
  line-height: 3em;
  padding-right: 2em;
  padding-left: 1em;
  text-align: left;
  border-right: 1px white solid;
  background: white; }
  .nav-item a {
    text-decoration: none; }

.nav-item:nth-child(1) {
  background: #0384ce; }

.nav-item:nth-child(2) {
  background: #414143; }

.nav-item:nth-child(3) {
  background: #304295; }

.nav-item:nth-child(4) {
  background: #26435a; }

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif; }

/* banner */
.banner {
  width: 100%;
  height: 79vh;
  position: relative;
  top: 44px;
  background-color: white;
  background-image: url(./doctor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: left; }
  @media only screen and (max-width: 414px) {
    .banner {
      position: relative;
      top: 0;
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position-x: 0; }
      .banner .btn-simple {
        display: none; } }

.box {
  width: 44%;
  text-align: left;
  color: white;
  padding-right: 0;
  position: relative;
  top: 30%;
  left: 28%;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 2em; }
  @media only screen and (max-width: 414px) {
    .box {
      background: rgba(255, 255, 255, 0.8);
      text-align: center;
      width: 70%;
      color: #304295;
      position: relative;
      top: 60%;
      left: 21%;
      font-size: 15px; } }
  .box span {
    font-size: 1.6em; }
    @media only screen and (max-width: 414px) {
      .box span span {
        font-size: 10px;
        color: #304295; } }

/* grid */
.container {
  width: 1010px;
  height: 310px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  top: -50px;
  box-sizing: border-box;
  border: 3px solid white; }
  @media only screen and (max-width: 414px) {
    .container {
      position: relative;
      top: 0;
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0; } }

.box-item {
  width: 250px;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  text-align: center; }
  .box-item h2 {
    color: white;
    margin-top: 5px; }
  .box-item img {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    opacity: 1; }
  .box-item p {
    color: white;
    font-family: "Raleway", sans-serif;
    padding: 15px;
    margin-bottom: 0; }
  .box-item .link {
    color: #0384ce;
    font-family: "Raleway", sans-serif; }
  .box-item .link:hover {
    color: #304295; }

.one {
  background: #0384ce;
  opacity: 0.8; }

.two {
  background: #304295;
  opacity: 0.8; }

.three {
  background: #a1c3de;
  opacity: 0.8; }

.four {
  background: #26435a;
  opacity: 0.8; }

@media only screen and (max-width: 414px) {
  .box-item {
    width: 100%;
    text-align: center;
    padding: 2em; }
    .box-item p {
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      text-align: left; } }
/* open */
.open {
  width: 1006px;
  margin: 0 auto;
  background: #a4caea;
  text-align: center;
  position: relative;
  top: -70px; }
  @media only screen and (max-width: 414px) {
    .open {
      position: relative;
      top: 0;
      width: 100%; } }

.openhour {
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-family: "Raleway", sans-serif;
  border-spacing: 0;
  border-collapse: collapse; }
  .openhour .af {
    color: #0384ce; }
  .openhour th {
    font-size: 20px;
    color: #304295; }
    @media only screen and (max-width: 414px) {
      .openhour th {
        font-size: 15px; } }
  .openhour td {
    border-bottom: 1px white solid;
    padding: 8px 40px; }
    @media only screen and (max-width: 414px) {
      .openhour td {
        padding: 8px 8px; } }
  .openhour .tablehead {
    font-size: 1.5em; }

/* review */
.heading {
  text-align: center;
  color: #26435a;
  margin-top: 2em;
  position: relative;
  top: -70px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase; }
  @media only screen and (max-width: 414px) {
    .heading {
      position: relative;
      top: 0; } }

#review {
  width: 1006px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: center;
  position: relative;
  top: -70px; }
  @media only screen and (max-width: 414px) {
    #review {
      position: relative;
      top: 0;
      width: 100%;
      display: flex;
      flex-flow: column wrap; } }
  #review .reviewbox {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border: 1px #a1c3de solid;
    border-radius: 10px;
    margin: 10px;
    flex-basis: 300px; }
    @media only screen and (max-width: 414px) {
      #review .reviewbox {
        margin-bottom: 2em; } }
    #review .reviewbox h3 {
      margin-left: 2em;
      color: #0384ce; }
    #review .reviewbox img {
      width: 4em;
      height: 4em;
      position: relative;
      left: 2em;
      top: 1em; }
    #review .reviewbox p {
      padding: 1em;
      font-family: "Raleway", sans-serif; }
  #review .star {
    position: relative;
    top: -2em;
    display: flex;
    flex-flow: row nowrap;
    width: 6em;
    height: 1em; }
    #review .star img {
      width: 1em;
      height: 1em; }

/* locatione */
.localimg {
  width: 1010;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: linear-gradient(to bottom, #a4caea, white); }
  .localimg img {
    width: 290px;
    height: 220px;
    margin: 2em;
    border: 3px white solid; }
    @media only screen and (max-width: 414px) {
      .localimg img {
        width: 414px;
        height: auto;
        margin: 0; } }
  @media only screen and (max-width: 414px) {
    .localimg {
      width: 414px;
      margin: 0 auto;
      position: relative;
      top: 300px;
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      background: none; } }

.location {
  display: flex;
  flex-flow: row nowrap;
  width: 1010px;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -180px;
  background: #304295;
  border: 3px white solid; }
  .location img {
    width: 65%; }
    @media only screen and (max-width: 414px) {
      .location img {
        display: none; } }
  .location .information {
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 2em; }
    .location .information span {
      color: #a4caea;
      text-transform: uppercase; }
  @media only screen and (max-width: 414px) {
    .location {
      position: relative;
      top: 500px; } }

/* footer */
.footercontainer {
  width: 100vw;
  height: 60vh;
  margin: 0;
  padding: 0;
  background-color: #a1c3de; }
  @media only screen and (max-width: 414px) {
    .footercontainer {
      display: none; } }

.footertop {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
  background-color: #a1c3de;
  background-image: url(./heart.png);
  background-size: 39%;
  background-position: bottom;
  background-position-x: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1; }
  .footertop .footerbox1 {
    position: relative;
    top: -5em;
    left: 10em;
    margin: 1em;
    flex-basis: 25vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .footertop .footerbox1 h2 {
      display: block;
      font-size: 1em;
      margin-bottom: 5px;
      padding: 3px 16px 3px 16px;
      color: white;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase; }
    .footertop .footerbox1 p {
      color: white;
      margin-top: 0;
      font-family: "Raleway", sans-serif; }
    @media only screen and (max-width: 414px) {
      .footertop .footerbox1 {
        display: none; } }
  .footertop .footerbox2 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #414143;
    flex-basis: 75vw; }
    .footertop .footerbox2 ul {
      position: relative;
      left: 10em;
      box-sizing: border-box;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-grow: 1; }
      .footertop .footerbox2 ul li {
        display: block;
        height: 140px;
        width: 300px;
        list-style: none;
        margin-right: 2em;
        padding-right: 1em;
        text-align: left;
        border-right: 1px solid white;
        color: white; }
        .footertop .footerbox2 ul li a {
          text-decoration: none; }
        .footertop .footerbox2 ul li img {
          width: 300px;
          border: 3px white solid; }
  @media only screen and (max-width: 414px) {
    .footertop {
      display: none; } }

#list4 {
  border: none; }

.footerbottom {
  width: 100vw;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #414143;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto; }
  @media only screen and (max-width: 414px) {
    .footerbottom {
      display: none; } }
  .footerbottom .footerbox3 {
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100px;
    margin: 2em;
    padding: 0; }
    .footerbottom .footerbox3 li {
      list-style: none;
      margin-right: 2em;
      padding-right: 1em;
      text-align: center; }
      .footerbottom .footerbox3 li a {
        text-decoration: none; }
      .footerbottom .footerbox3 li a img {
        width: 35px;
        height: 35px; }
    @media only screen and (max-width: 414px) {
      .footerbottom .footerbox3 {
        display: none; } }
  .footerbottom .footerbox2 {
    position: relative;
    left: -1em;
    top: -2em; }
    .footerbottom .footerbox2 ul {
      box-sizing: border-box;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-grow: 1; }
      .footerbottom .footerbox2 ul li {
        list-style: none;
        margin-right: 2em;
        padding-right: 1em;
        text-align: center;
        border-right: 1px solid white; }
        .footerbottom .footerbox2 ul li a {
          text-decoration: none; }
        .footerbottom .footerbox2 ul li a {
          color: white;
          font-family: "Raleway", sans-serif;
          font-size: 1em;
          text-transform: uppercase; }
    @media only screen and (max-width: 414px) {
      .footerbottom .footerbox2 {
        display: none; } }

#copyright {
  position: relative;
  top: -10px;
  text-align: center;
  color: white;
  font-size: 0.9em; }

/*# sourceMappingURL=main.css.map */
