.footercontainer{
    @include basic(100vw,60vh,0,0);
    background-color: $skin;
    
    @media only screen and (max-width: 414px){
        display: none;
        }
}
.footertop{
    
    @include basic(100%,70%,0,0);
    background-color: $skin;
    background-image: url(./heart.png);
    background-size: 39%;
    background-position: bottom; 
    background-position-x: 0; 
    background-repeat: no-repeat;

    @include row;
    .footerbox1{
        position: relative;
        top: -5em;
        left:10em;
        margin:1em ;
        flex-basis: 25vw;
        @include vCenter;
        h2{
            display: block;
            font-size: 1em;
            margin-bottom: 5px;
            padding: 3px 16px 3px 16px;
            color: $white;
            font-family: $mainfont;
            text-transform: uppercase;
            }
        p{
            color: $white;
            margin-top: 0;
            font-family: $mainfont;
        }
        @media only screen and (max-width: 414px){
            display: none;
            }  
    }
    .footerbox2{
        @include vCenter;
        color: $darkgray;
        flex-basis: 75vw;
        ul{
            position: relative;
            left:10em;
            @include row;
            li{
                display: block;
                height: 140px;
                width: 300px;
                @include list;
                margin-right: 2em;
                padding-right: 1em;
                text-align: left;
                border-right: 1px solid $white;
                color: $white;
                img{
                    width: 300px;
                    border: 3px white solid;
                }
            } 
        }
         
    }
    @media only screen and (max-width: 414px){
        display: none;
        }
}
#list4{
    border: none;
}
.footerbottom{
    @include basic(100vw,200px,0,0);
    background-color: $darkgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    @media only screen and (max-width: 414px){
        display: none;
    }
    
    .footerbox3{
        display: block;
        @include row;
        @include basic(100%,100px,2em,0);
        li{
            @include list;
            margin-right: 2em;
            padding-right: 1em;
            text-align: center;
            a{
                img{
                    width: 35px;
                    height: 35px;
                }
            }
        }
        @media only screen and (max-width: 414px){
            display: none;
        }
    }
    .footerbox2{
        position: relative;
        left: -1em;
        top: -2em;
        ul{
            @include row;
            li{
                @include list;
                margin-right: 2em;
                padding-right: 1em;
                text-align: center;
                border-right: 1px solid $white;
                a{
                    color: $white;
                    font-family: $mainfont;
                    font-size: 1em;
                    text-transform: uppercase;
                }
            }
        }
        @media only screen and (max-width: 414px){
            display: none;
        }
    }
}
#copyright{
    position: relative;
    top: -10px;
    text-align: center;
    color: $white;
    font-size: 0.9em;
    
}

