.container{
    @include basic(1010px,310px,0 auto,0);
    @include row;   
    position: relative; 
    top: -50px;
    box-sizing: border-box;
    border: 3px solid white;
    @media only screen and (max-width: 414px){
        position: relative; 
        top: 0;
        display: flex;
        flex-flow: column wrap;
        @include basic(100%,auto,0,0);
    }
}

.box-item{
    @include basic(250px,300px,0,0);
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border:rgba(255,255,255,0.5) 1px solid;
    text-align: center;
    h2{
        color: $white;
        margin-top: 5px;
    }
    img{
        width: 50px;
        height: 50px;
        margin: 10px auto;
        opacity: 1;
    }
    p{
        color: $white;
        font-family: $mainfont;
        padding: 15px;
        margin-bottom: 0;
      
    }
    .link{
        color:$blue;
        font-family: $mainfont;
    }
    .link:hover{
        color: $darkblue;
    }
    
}
.one{
    background:$blue;
    opacity: 0.8;
}
.two{
    background: $darkblue;
    opacity: 0.8;
}
.three{
    background: $skin;
    opacity: 0.8;
}
.four{
    background: $deepblue; 
    opacity: 0.8;
}
@media only screen and (max-width: 414px){
   .box-item{
       width: 100%;
       text-align: center;
       padding: 2em;
       p{
           @include vCenter;
       width: 100%;
        text-align: left;
    
       }
   }

}