.open{
    width: 1006px;
    margin: 0 auto;
    background: $lightblue;
    text-align: center;
    position: relative;
    top:-70px;
    @media only screen and (max-width: 414px){
        position: relative; 
        top:0;
        width: 100%;
    }
}
.openhour{
    padding: 2em;
    @include vCenter;
    color: white;
    font-family: $mainfont;
    border-spacing: 0;
    border-collapse: collapse;

    .af{
        color: $blue;
    }
    th{
        font-size: 20px;
        color: $darkblue;
        @media only screen and (max-width: 414px){
            font-size: 15px;   
        }
    }
    td{
        border-bottom: 1px white solid; 
        padding: 8px 40px;
        @media only screen and (max-width: 414px){
            padding: 8px 8px;
        }
    }
    .tablehead{
        font-size: 1.5em;
     
    }
}