.heading{

    text-align: center;
    color: $deepblue;
    margin-top: 2em;
    position: relative; 
    top: -70px;
    font-family: $mainfont;
}
#review{
    @include basic(1006px,auto,0 auto,0);
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start; 
    justify-content: center;
    position: relative; 
    top: -70px;
    .reviewbox{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
        border: 1px $skin solid;
        border-radius: 10px;
        margin:10px;
        flex-basis: 300px;
        h3{
            margin-left: 2em;
            color: $blue;
        }
        img{
            width: 4em;
            height: 4em;
            position: relative;
            left: 2em;
            top:-1.5em;
        }
        p{
            padding: 2em;
            font-family: $mainfont;
        }
    }
    .star{
        display: flex;
        flex-flow: row nowrap;
        width: 6em;
        height: 1em;
        img{
            width: 1em;
            height: 1em;
          
        }
    }
}

