.input{
    background: none;
    border: none;
    color:$white;
}
.search{
	@include basic(10em,1.5em,0,0);
    margin-left:2em;
    border: $skin 1px solid;
    border-radius: 1.2em;
    @include row;
}
#fas{
    color: #a67f78;
}